@font-face {
  font-family: izvestija;
  src: url(../fonts/izvestija.ttf);
}
body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #f5f5f5;
}
.header-wrp {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.menu-top {
  display: flex;
  justify-content: center;
}

label,
#menu {
  display: none;
}

.header-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}
.header-menu li {
  list-style: none;
  padding: 0 8px;
}
.header-menu li a {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}

.logo-txt {
  font-family: izvestija, arial, sans-serif;
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: 10px;
  color: darkred;
  text-shadow: 4px 4px 4px #aaa;
}
.logo-txt:hover {
  color: red;
  text-shadow: 4px 8px 8px #aaa;
}

.phone {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  color: black;
  text-decoration: none;
  margin: 0 5px;
}

.slider {
  display: flex;
  flex-direction: column;
  position: relative;
}
.slider img {
  width: 100%;
  min-height: 500px;
  filter: brightness(0.8);
}
.slider-wrp {
  width: 100%;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider h1 {
  width: 950px;
  margin: 0 0 80px 0;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.slider h2 {
  margin-top: 40px;
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.button {
  width: 170px;
  height: 53px;
  background-color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: Raleway, serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: black;
}

.services {
  background-color: #f5f5f5;
  width: 100%;
  padding: 40px 0 40px 0;
}
.services h1 {
  margin: 0;
  padding: 0 0 20px 0;
  color: black;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
.services-wrp {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-item {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.services-item h2 {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  text-align: center;
}
.services-item p {
  font-family: Montserrat, sans-serif, sans-serif;
  font-size: 16px;
  text-align: center;
}

.discount {
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.discount:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../img/discount.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  filter: brightness(0.6);
}
.discount h1 {
  position: relative;
  width: 950px;
  margin: 80px 0 80px 0;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
.discount span {
  position: relative;
  margin-top: 40px;
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}
.discount button {
  position: relative;
  margin-top: 40px;
}

.works {
  background-color: #f5f5f5;
  width: 100%;
  padding: 40px 0 40px 0;
}
.works h1 {
  margin: 0 auto;
  padding: 0 0 40px 0;
  color: black;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
.works ol {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  counter-reset: num;
  box-sizing: border-box;
}
.works ol li:nth-child(odd) {
  position: relative;
  padding-right: calc(50% - 1px);
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: right;
}
.works ol li:nth-child(odd):after {
  position: absolute;
  left: calc(50% - 21px);
  top: 0;
  content: counter(num);
  counter-increment: num;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  width: 30px;
  height: 30px;
  background: #000;
  color: white;
  border-radius: 50%;
  border: 1px solid #000;
  text-align: center;
  font-weight: 700;
  padding: 5px;
}
.works ol li:nth-child(odd) h2 {
  margin: 3px 0 0;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  text-align: right;
  padding: 3px 80px 10px;
}
.works ol li:nth-child(odd) span {
  display: block;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  text-align: right;
  padding: 0 70px 18px;
  border-right: 2px solid #000000;
  box-sizing: border-box;
}
.works ol li:nth-child(even) {
  position: relative;
  text-align: left;
  padding-left: calc(50% - 1px);
}
.works ol li:nth-child(even):after {
  position: absolute;
  left: calc(50% - 21px);
  top: 0;
  content: counter(num);
  counter-increment: num;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  width: 30px;
  height: 30px;
  background: #000;
  color: white;
  border-radius: 50%;
  border: 1px solid #000;
  text-align: center;
  font-weight: 700;
  padding: 5px;
}
.works ol li:nth-child(even) h2 {
  margin: 3px 0 0;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  text-align: left;
  padding: 5px 70px 10px;
}
.works ol li:nth-child(even) span {
  display: block;
  font-family: Montserrat, sans-serif, sans-serif;
  font-size: 16px;
  text-align: left;
  padding: 0 0 20px 70px;
  margin-bottom: 3px;
  border-left: 2px solid #000000;
  box-sizing: border-box;
}
.works ol li:last-child span {
  border: none;
}

/*# sourceMappingURL=style.css.map */
