@font-face {
  font-family: izvestija;
  src: url(../fonts/izvestija.ttf);
}

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgba(191, 189, 189, 0.75);

  &-wrp {
    max-width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
}

.menu-top {
  display: flex;
  justify-content: center;
}

label,
#menu {
  display: none;
}

.header-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  & li {
    list-style: none;
    & a {
      font-family: Montserrat, sans-serif;
      font-size: 20px;
      line-height: 1.2;
      font-weight: 400;
      color: black;
      text-decoration: none;
      margin: 0 5px;
    }
  }
}

.logo {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}

.logo-txt {
  font-family: izvestija, arial, sans-serif;
  font-size: 60px;
  line-height: 1.2;
  //font-weight: 900;
  color: darkred;
  text-shadow: 4px 4px 4px #aaa;
  &:hover {
    color: red;
    text-shadow: 4px 8px 8px #aaa;

  }

}

.phone {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  //font-weight: 400;
  color: black;
  text-decoration: none;
  margin: 0 5px;
}



