@font-face {
  font-family: izvestija;
  src: url(../fonts/izvestija.ttf);
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

h2  {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  color: black;
}

.header {
  background-color: #f5f5f5;
  &-wrp {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
  }
}

.menu-top {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

label,
#menu {
  display: none;
}

.header-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  & li {
    list-style: none;
    padding: 0 8px;
    & a {
      font-family: Montserrat, sans-serif;
      font-size: 20px;
      line-height: 1.2;
      font-weight: 600;
      color: black;
      text-decoration: none;
      &:hover {
        color: #cccccc;
      }
    }
  }
}

.logo {
  margin: 0 auto;
  text-decoration: none;
  &-txt {
    font-family: izvestija, arial, sans-serif;
    font-size: 60px;
    line-height: 1.2;
    letter-spacing: 10px;
    //font-weight: 900;
    color: darkred;
    text-shadow: 4px 4px 4px #aaa;
    &:hover {
      color: red;
      text-shadow: 4px 8px 8px #aaa;
    }
  }
}

.header-contacts {
  min-height: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  & .header-adress {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    text-decoration: none;
    color: black;
    &:hover {
      color: #cccccc;
    }
  }
  & .work-clock {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    text-decoration: none;
    color: black;
  }
  & .email {
    color: black;
    outline: none;
    text-decoration: underline;
    background-position: 0 60%;
    background-repeat: no-repeat;
    font-size: 1rem;
    min-height: 19px;
    padding: 0 0 0 21px;
    background-image: url(../img/email.png);
    background-size: 18px 12px;
    &:hover {
      color: #ccc;
    }
  }
}

.header-phone {
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 600;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  & span {
    margin-left: 5px;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  position: relative;
  & img {
    width: 100%;
    min-height: 500px;
    filter: brightness(0.8);
  }
  &-wrp {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & h1 {
    max-width: 950px;
    margin: 0 0 80px 0;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  & h2 {
    margin-top: 40px;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
  }
}

.button {
  width: 170px;
  height: 53px;
  background-color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: Raleway, serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: black;
  &:hover {
    background-color: #cccccc;
    color: white;
  }
}

.services {
  background-color: #f5f5f5;
  width: 100%;
  padding: 40px 0 40px 0;
  & h1 {
    margin: 0;
    padding: 0 0 20px 0;
    color: black;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
  }
  &-wrp {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.services-item {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px ;
  & h2 {
    font-family: Raleway, sans-serif;
    font-size: 24px;
    text-align: center;
  }
  & p {
    font-family: Montserrat, sans-serif, sans-serif;
    font-size: 16px;
    text-align: center;
  }
}

.discount {
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &:before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../img/discount.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    filter: brightness(0.6);
  }
  & h1 {
    position: relative;
    max-width: 950px;
    margin: 80px 0 80px 0;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
  }
  & span {
    position: relative;
    margin-top: 40px;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
  }
  & button {
    position: relative;
    margin-top: 80px;
  }
}

.works {
  background-color: #f5f5f5;
  width: 100%;
  padding: 40px 0 40px 0;
  & h1 {
    margin: 0 auto;
    padding: 0 0 40px 0;
    color: black;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
  }
  & ol {
    max-width: 920px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    counter-reset: num;
    box-sizing: border-box;
  }
  & ol li:nth-child(odd) {
    position: relative;
    padding-right: calc(50% - 1px);
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: right;
    &:after {
      position: absolute;
      left: calc(50% - 21px);
      top: 0;
      content: counter(num);
      counter-increment: num;
      font-family: Montserrat, sans-serif;
      font-size: 24px;
      width: 30px;
      height: 30px;
      background: #000;
      color: white;
      border-radius: 50%;
      border: 1px solid #000;
      text-align: center;
      font-weight: 700;
      padding: 5px;
    }
    & h2 {
      margin: 3px 0 0;
      font-family: Raleway, sans-serif;
      font-size: 24px;
      text-align: right;
      padding: 3px 80px 10px;
    }
    & span {
      display: block;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      text-align: right;
      padding: 0 70px 18px 0;
      border-right: 2px solid #000000;
      box-sizing: border-box;
    }
  }
  & ol li:nth-child(even) {
    position: relative;
    text-align: left;
    padding-left: calc(50% - 1px);
    &:after {
      position: absolute;
      left: calc(50% - 21px);
      top: 0;
      content: counter(num);
      counter-increment: num;
      font-family: Montserrat, sans-serif;
      font-size: 24px;
      width: 30px;
      height: 30px;
      background: #000;
      color: white;
      border-radius: 50%;
      border: 1px solid #000;
      text-align: center;
      font-weight: 700;
      padding: 5px;
    }
    & h2 {
      margin: 3px 0 0;
      font-family: Raleway, sans-serif;
      font-size: 24px;
      text-align: left;
      padding: 5px 70px 10px;
    }
    & span {
      display: block;
      font-family: Montserrat, sans-serif, sans-serif;
      font-size: 16px;
      text-align: left;
      padding: 0 0 20px 70px;
      margin-bottom: 3px;
      border-left: 2px solid #000000;
      box-sizing: border-box;
    }
  }
  & ol li:last-child {
    & span {
      border: none;
    }
  }
}

.documents {
  padding: 40px;
  background-color: #3b3b47;
  color: white;
  &-wrp {
    margin: 40px auto;
    max-width: 920px;
    //margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &-left {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    & a {
      padding: 10px 0;
      font-family: Raleway, sans-serif;
      font-size: 20px;
      color: white;
      text-decoration: none;
      &:hover {
        color: #cccccc;
      }
    }
  }
  &-right {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    & a {
      padding: 10px 0;
      font-family: Raleway, sans-serif;
      font-size: 20px;
      color: white;
      text-decoration: none;
      &:hover {
        color: #cccccc;
      }
    }
  }
}

.contacts {
  background-color: #f5f5f5;
  &-wrp {
    display: flex;
    flex-wrap: wrap;
  }
  &-txt {
    padding-left: 50px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
  }
  & h1 {
    margin: 40px 0;
    text-align: left;
  }
  & .header-phone {
    margin: 0;
  }
  & .email {
    padding: 20px 0 20px 30px;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-image: url(../img/email.png);
    background-size: 24px 16px;
    font-size: 24px;
    line-height: 1.2;
    &:hover {
      color: #cccccc;
    }
  }
  & span {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    line-height: 1.2;
  }
  & p {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 1.2;
  }
  & .work-clock {
    font-size: 16px;
  }
}

.copyright {
  padding: 20px;
  background-color: #3b3b47;
  display: flex;
  justify-content: space-between;
  & a {
    text-decoration: none;
    color: #999999;
  }
  & a:hover {
    color: white;
  }
  & span {
    color: white;
  }
  & a:hover span {
    color: #999999;
  }
}
